.home-cont{
    width: 80%;
    height: 92vh;
    position: absolute;
    /* border: solid; */
    top: 8%;
    left: 21%;
}
.cont{
  /* border: solid; */
  display: flex;
  justify-content: space-between;
}
.report{
    width: 100%;
    /* border: solid; */
    margin-left: 1%;
    padding: 10px;
    background-color: #fbf5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* .report:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 

} */
.title{
  width: auto;
  margin: 0 3%;
    height: 4vh;
    /* border: solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title a{
    /* font-size: small; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.line {
  width: 100%;
  height: 1px; 
  background-color: #333;
  margin: 10px 0; 
  border: none; 
}

.table{

  margin: 15px;
  /* border: solid; */
  width: 97%;
  height: 20vh;
}
.pending{
  text-align: center;
  width: 100%;
  height: 36vh;
  margin-top: 2%;
   /* border: solid; */
   margin-left: 1%;
   padding: 10px;
   background-color: #fbf5f5;
   border-radius: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
.content{
  margin-top: 10%;
}
.content img{
  width: 20px;
  height: 20px;
}
.cont-right{
  margin-right: 3%;
  width: 30%;
  /* border: solid; */
}
.points{
  text-align: center;
  width: 100%;
  color: white;
  /* border: solid; */
  height: 20vh;
  border-radius: 10px;
  background-color: #111010;
  box-shadow: 0 4px 8px 0 rgba(213, 176, 176, 0.2), 0 6px 20px 0 rgba(213, 176, 176, 0.2); 
}
.po{
  padding: 5px;
  text-align: center;
  /* width: 80%; */
  /* border: solid; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.po a{
     /* font-size: small; */
     display: flex;
     align-items: center;
     justify-content: center;
 
}
.vechiles{
  width: 100%;
  height: 50vh;
  /* border: solid; */
  margin-top: 5%;
  background-color: #fbf5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 

}
.num{
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.vec-num{
  width: 30%;
  border: solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 2%;
}